#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  cursor: pointer;
  padding: 15px;
  border-radius: 2rem;
  font-size: 1.5rem;
}

#topButton:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
